/* 
 Css Selector Cheatsheet

 # = id
 name of tag = tag
 . = class

*/


#header-main{
    text-align: center;
}

.bg-section{
    background-color: #d3d7e2;
}
pre{
    counter-reset: line;
}
code{
    counter-increment: line;
}
code:before{
    content: counter(line);
}
code:before{
    -webkit-user-select: none;
}